/dataconnect/example/*.gql
/dataconnect/default/*.gql
/functions/src/dataconnect-admin-generated
/src/dataconnect-admin-generated
functions/lib/
npm-lock.yaml
.firebase
dist
src/dataconnect-generated
dataconnect/.dataconnect
docs
portfolio
public
docs/
functions/next_build
.next
node_modules
pnpm-lock.yaml
coverage
functions/.npm_cache
functions/node_modules


.agent
.agent/
