<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Spooky Spectral Ghost</title>
    <link
      rel="stylesheet"
      href="https://public.codepenassets.com/css/normalize-5.0.0.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <!-- PRELOADER -->
    <div id="preloader" class="preloader">
      <div class="preloader-content">
        <div class="ghost-loader">
          <span style="font-size: 40px">👻</span>
        </div>
        <div class="loading-text">Summoning spirits</div>
        <div class="loading-progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>

    <!-- TEXTO -->
    <div class="content">
      <div class="quote-container">
        <h1 class="quote">
          Veil of Dust<br />
          Trail of Ash<br />
          Heart of Ice
        </h1>
        <span class="author">Whispers through memory</span>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
