@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #050505;
}

/* PRELOADER */
.preloader {
  position: fixed;
  inset: 0;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity 1s ease;
}
.preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loading-text {
  color: #aaa;
  font-size: 12px;
}

/* TEXTO */
.content {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.quote {
  font-family: 'Boldonse', system-ui;
  font-size: clamp(3rem, 8vw, 7rem);
  text-transform: uppercase;
  color: #f0f0f0;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 0 0;
  mask-size: 0 0;

  text-shadow: 0 0 25px rgba(255, 255, 255, 0.08);
}

.author {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.6;
}
