@import 'tailwindcss';
@config "../../tailwind.config.ts";

@font-face {
  font-family: 'CustomLight';
  src: url('https://umkmwbkwvulxtdodzmzf.supabase.co/storage/v1/object/public/site-assets/global/fonts/global.font_light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --bluePrimary: #3b82f6;
  --cyanHighlight: #4fe6ff;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}



.img-wrapper {
  clip-path: inset(0% 0% 0% 0%);
  will-change: clip-path;
}