@import "tailwindcss/preflight";
@tailwind utilities;

.header-custom-height {
  --header-height: 100px; /* Default value */
}

.header-custom-height[style*="--header-height"] {
  height: var(--header-height);
}