@import 'tailwindcss/preflight';
@tailwind utilities;

.header-custom-height {
  --header-height: 100px; /* Default value */
}

.header-custom-height[style*='--header-height'] {
  height: var(--header-height);
}

@layer base {
  body {
    background-color: #000022;
    color: white;
  }
}

.ghost-accent {
  font-weight: 600;
  color: rgba(0, 72, 255, 0.6);
  transition: color 0.4s ease;
}
.ghost-accent:hover {
  color: #0048ff;
}
