.videoOverlay {
  position: absolute;
  inset: 0;
  background-color: black;
  transition: opacity 300ms ease;
  background-image:
    linear-gradient(180deg, rgba(4, 12, 28, 0.98) 0, rgba(2, 4, 12, 0.2) 70%),
    url('https://images.unsplash.com/photo-1524504388940-b1c1722653e1?auto=format&fit=crop&w=800&q=80');
  background-size: cover;
  background-position: center;
}
