@import "tailwindcss";

:root {
  --color-surface-main: #f4f5f7;
  --color-text-main: #111111;
  --color-accent-blue: #0057ff;

  --font-sans: "Inter", sans-serif;
}

/* Custom Utilities if needed */
.container-custom {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-accent-blue);
  }

  .text-primary {
    color: var(--color-accent-blue);
  }

  .bg-surface-main {
    background-color: var(--color-surface-main);
  }

  .text-text-main {
    color: var(--color-text-main);
  }
}
